*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background-image: url(../img/1.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 422px;
  
    height: 70px;
}