*{
    margin:0;
    padding:0;
}
.main{
    width: 100%;
    background-image: url('../img/1655620477425.jpg');
    background-position: center;
    background-size: cover;
    height: 190vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width:800px;
  float: left;
    height: 70px;
    margin-left: 19px;
}
.logo{
    color: rgb(38, 210, 245);
    font-size: 35px;
    font-family: Arial;
    padding-left: 400px;
    float:left;
    padding-top:30px ;
    border-width: 10px;
}
.menu{
    width: 480px;
    float: right;
    height: 70px;
    margin-right: 335px;
    margin-top: 0px;
    
    


}
ul{
    float: left;
    list-style-type: none;
    margin-top: 50px;
    
    
    
    
    
}
ul li {
    list-style: none;
    display:inline-block;
    border:dashed 1px rgba(0, 255, 55, 0.307);
    background-color: yellow;
    margin-right: 50;
    text-align: center;
    border-width: 10px;
    border-color: rgb(0, 123, 255);
    border-style: solid;
    border-radius: 30px;
  
}
ul li a{
    text-decoration: none;
    color: rgb(236, 76, 8);
    padding: 5px 20px;
    border:1px solid #fff;
border:dashed 1px rgba(0, 255, 55, 0.307);
              
    

}
ul li a:hover{
    background-color: #fff;
    color: #000;
    
}
ul li .active a{
    background-color: #fff;
    color: #000;
}
.main{
    max-width: 1200;
    margin: auto;
}
.ram{
   text-align: center;
   position: absolute;
  color: red;
   margin-top: 200px;
   margin-left: 350px;
  
}
.dam{
text-align: center;
position: absolute;
color: rgb(132, 25, 232);
margin-top: 400px;
margin-left: 600px;
}
