*{
    margin:0;
    padding:0;
}
.main{
    width: 100%;
    background-image: url('../img/1655620477425.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar{
    width: 500px;
    height: 75px;
    margin: auto;
}
.icon{
    width:300px;
  float: left;
    height: 70px;
    text-align: center;
}
.logo{
    color: rgb(25, 231, 14);
    font-size: 35px;
    font-family: Arial;
    text-align: right;
  
    padding-top:10px ;
    border-width: 10px;
   
}
.menu{
    width: 480px;
    float: right;
    height: 70px;
    margin-left: 10000px;
    


}
ul{
    float: left;
    list-style-type: none;
    margin-top: 50px;
    
    
    
    
}
ul li {
    list-style: none;
    display:inline-block;
  
}
ul li a{
    text-decoration: none;
    color: rgb(236, 76, 8);
    padding: 5px 20px;
    border:1px solid #fff;
border:dashed 1px rgba(0, 255, 55, 0.307);
background-color: rgb(98, 18, 227);
margin-right: 50;
text-align: center;
border-width: 10px;
border-color: rgb(0, 123, 255);
border-style: solid;
border-radius: 30px;
              
    

}
ul li a:hover{
    background-color: #fff;
    color: #000;
    
}
ul li .active a{
    background-color: #fff;
    color: #000;
}
.main{
    max-width: 1200;
    margin: auto;
}
.ram{
   text-align: center;
   position: absolute;
   margin-top: 200px;
   background-color: yellow;
   margin-right: 50px;
   text-align: center;
   border-width: 10px;
   border-color: rgb(0, 123, 255);
   border-style: solid;
   border-radius: 30px;
}
